@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.animated-dotted-background {
  background-color: #000000;
  background-image: radial-gradient(#585858 1px, transparent 1px);
  background-size: 50px 50px;
}
.animated-dotted-background1 {
  background-color: #000000;
  background-image: radial-gradient(#585858 1px, transparent 1px);
  background-size: 30px 30px;
}
.animated-dotted-background2 {
  background-color: #080132;
  background-image: radial-gradient(#585858 1px, transparent 1px);
  background-size: 15px 15px;
}

@layer utilities {
  .gradient-title {
    @apply font-extrabold bg-gradient-to-br from-blue-500 via-blue-100 to-blue-400 bg-clip-text tracking-wide text-transparent pr-2 pb-2;
  }
}

@layer utilities {
  .gradient-title2 {
    @apply font-extrabold bg-gradient-to-br from-blue-500 via-blue-400 to-blue-300 bg-clip-text tracking-wide text-transparent pr-2 pb-2;
  }
}

@layer utilities {
  .gradient-title1 {
    @apply font-extrabold bg-gradient-to-br from-green-500 via-yellow-100 to-red-400 bg-clip-text tracking-wide text-transparent pr-2 pb-2;
  }
}

